<section class="review-half-div">
    <div class="movie-review">
        <h1 class="movie-header-text">User Reviews</h1>
        <hr />
        <!-- page review -->
        <div class="card max-card">
            <div class="card-content-main">
                <div class="content">
                    <div class="review-info-div">
                        <!-- user Review card -->
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <div class="review-info-div">
                                        <h1>{{movie.movie_title}}</h1>
                                        <h3>Reviewed By {{user.username}}</h3>
                                        <p>{{content}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-padding"></div>
                        {{!-- New Review here --}}

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>