<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reel Good Movies</title>
  {{!-- Reset CSS --}}
  <link rel="stylesheet" href="/public/css/reset.css">
  {{!-- Bulma link --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  {{!-- Google fonts link --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
  {{!-- Custom css --}}
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="" href="">
        <img src="../img/cropped-Reel Good Movies-logos_transparent.png" style="height: 4.5rem;">
      </a>
      <div class="navbar-start">
        <div class="control navbar-item">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" id="movie-name"placeholder="Find a movie">
            </div>
            <div class="control">
              <a class="button is-info " id="movie-form">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- If they havent logged in yet-->
    {{#if loggedIn}}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button class="button is-dark" id="logout">
            Log out
          </button>
        </div>
      </div>
    </div>

    {{else}}
    <!--If they have logged in already-->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-dark" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
    {{/if}}
  </nav>
  <main>
    {{{body}}}
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Reel Good Movies</strong> created by <a href="https://github.com/MichaelMLetanosky">Michael
          Letanosky</a>, <a href="https://github.com/sgamit09">Scott Gamit</a>, <a
          href="https://github.com/Phillip48">Phillip Pereira</a>, and <a href="https://github.com/VBamalie">Molly Von
          Behren</a>
      </p>
    </div>
  </footer>
</body>


<script src="../js/logout.js"></script>
<script src="../js/movies.js"></script>

</html>