<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reel Good Movies</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="" href="">
        <img src="../img/cropped-Reel Good Movies-logos_transparent.png" style="height: 4.5rem;">
      </a>
      <div class="navbar-start">
        <div class="control navbar-item">
          <input class="input" type="text" placeholder="Search For a Movie" style="min-width: 30rem;">
        </div>
      </div>
    </div>
    <!-- If they havent logged in yet-->
    {{#if loggedIn}}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-dark">
            Log in
          </a>
          </div>
        </div>
      </div>
    {{else}}
          <!--If they have logged in already-->
      <div class="navbar-item has-dropdown is-hoverable">
         <a class="navbar-link">
             {{username}}
         </a>
         <div class="navbar-dropdown">
           <a class="navbar-item">
              My Movie list
           </a>
           <a class="navbar-item">
              Movie reviews
           </a>
           <a class="navbar-item">
              My Movie Queue
            </a>
         </div>
      </div>
  
    {{/if}}
  </nav>
  <main>
    {{{body}}}
  </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Reel Good Movies</strong> created by <a href="https://github.com/MichaelMLetanosky">Michael
          Letanosky</a>, <a href="https://github.com/sgamit09">Scott Gamit</a>, <a
          href="https://github.com/Phillip48">Phillip Pereira</a>, and <a href="https://github.com/VBamalie">Molly Von
          Behren</a>
      </p>
    </div>
  </footer>
</body>

</html>