<section class="container">
  <h3 class="gallery-name">{{gallery.name}}</h3>
  <h4>Opening Hour: {{format_time gallery.starting_date}}</h4>
  <h4>Closing Hour: {{format_time gallery.ending_date}}</h4>
  <section class="flex-row justify-center">
    {{#each gallery.paintings as |painting|}}
    {{> painting-details}}
    {{/each}}
  </section>
</section>