<link rel="stylesheet" href="../public/css/searchresults.css">
<div class="card">
  <div class="card-content">
    <div class="content">
      <!-- new card here -->
      {{#each newCardSearch as |movieListItem|}}
        <div class="card">
          <div class="card-content">
            <div class="content">
              <div class="holds-all-search">
                <div class="movie-search-info">
                  <h1>{{movieTitle}}{{movieYear}}</h1>
                  <p class="card-text">{{movieDesc}}</p>
                </div>
                <div class="movie-search-poster">
                  <img src="{{moviePoster}}" alt="Poster thumbnail" class="search-poster" />
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
      <!-- new card -->
    </div>
  </div>
</div>