:root{
    --primary: #6b0f1aff;
    --accent: #07beb8ff;
    --neutral: #524632ff;
    --dark: #151e3fff;
    --light: #ffffffff;

}

/*styling for homepage searchbox*/
.center-box{
    position: absolute;
    top: 30%;
    right: 25%;
    left: 25%;
    min-width: fit-content;
    padding:0

}
.search-box-header{
    font-size: 200%;
    font-weight: 500;
}
/*end of styling for homepage searchbox*/
/*styling for search results list*/
.rearch-results-section{
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.search-results-list{
    border-bottom: grey solid;
    padding: 3%;
}
/*end of styling for search results list*/
/*Movie list thumbnail styling*/
.movie-results{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
.img-small-poster{
    margin: 5px;
}
h1{
    margin-left: 5%;
    font-size: 400%;
    font-weight: 500;
    font-family:'Josefin Sans', sans-serif;
}
.profile-info{
    margin-top: 10%;
    margin-bottom: 10%;
}
.input{
    min-width: 30rem;
}

.review-overflow {
    height: 17rem;
    overflow: scroll;
  }
.review-element{
    border-bottom: grey solid;
    padding-bottom: 1%;
}
.movie-profile-list{
    margin-top: 3%;
}
.profile-lists{
    margin: 4%;
}
h2{
    font-size: 200%;
}
form-group{
    padding: 5%;
}
label{
    display:block;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.svg-name{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.login-form{
    padding-right: 3%;
}
.login-and-Signup{
    justify-content: space-evenly;
    display: flex;
}

/* Responsive code */
.navbar{
    display: flex;
    padding: 1rem;
}

.navbar-brand{
    display: flex;
    align-items: center;
    
}

.navbar-end{
    display: flex;
    align-items: center;
    margin-left: auto;
}

@media screen and (max-width: 860px){
    .input{
        min-width: 5rem;
    }
}

@media screen and (max-width: 600px){
    .input{
       display: none;
    }
}
@media screen and (max-width: 400px){
    .input{
       /* display: none; */
       min-width: 2rem;
    }
    nav {
        padding: 0;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar-brand{
        justify-content: center;
        
    }
    
    .navbar-end{
        justify-content: center;
        margin: auto;
    }
}