:root{
    --primary: #6b0f1aff;
    --accent: #07beb8ff;
    --neutral: #524632ff;
    --dark: #151e3fff;
    --light: #ffffffff;

}

.center-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
/*styling for homepage searchbox*/
.login-center-box{
    margin-top: 2rem;
}

.homepage-box{
    margin-top: 2rem;
}

.login-center-box{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 5rem;
}

.login-card{
    padding-inline: 1rem;
}

/* .center-box{
    position: absolute;
    top: 30%;
    right: 25%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: fit-content;
    width: 50%;
    padding: .5rem;
} */

.search-box-header{
    font-size: 200%;
    font-weight: 500;
}
/*end of styling for homepage searchbox*/
/*styling for search results list*/
.rearch-results-section{
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.search-results-list{
    border-bottom: grey solid;
    padding: 3%;
}
/*end of styling for search results list*/
/*Movie list thumbnail styling*/
.movie-results{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
.img-small-poster{
    margin: 5px;
}
h1{
    margin-left: 5%;
    font-size: 400%;
    font-weight: 500;
    font-family:'Josefin Sans', sans-serif;
}
.profile-info{
    margin-top: 10%;
    margin-bottom: 10%;
}
.input{
    min-width: 30rem;
}

.review-overflow {
    height: 17rem;
    overflow: scroll;
  }
.review-element{
    border-bottom: grey solid;
    padding-bottom: 1%;
}
.movie-profile-list{
    margin-top: 3%;
}
.profile-lists{
    margin: 4%;
}
h2{
    font-size: 200%;
}
.form-input{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
}
.form-group-btn{
    display: flex;
    justify-content: center;
    padding: .5rem;
}
label{
    display:block;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.svg-name{
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}
.login-form{
    padding-right: 3%;
}

.login-and-Signup{
    display: flex;
    justify-content: space-evenly;
}

/* Responsive code */
.navbar{
    display: flex;
    padding: 1rem;
}

.navbar-brand{
    display: flex;
    align-items: center;
    
}

.navbar-end{
    display: flex;
    align-items: center;
    margin-left: auto;
}
@media screen and (max-width: 900px){
    .login-center-box{
        width: 80%;
    }
}

@media screen and (max-width: 560px){
    .login-and-Signup{
        flex-direction: column;
    }
}

@media screen and (max-width: 780px){
    .input{
        min-width: 5rem;
    }
}

@media screen and (max-width: 490px){
    .input{
       display: none;
    }
}
@media screen and (max-width: 350px){
    .input{
       /* display: none; */
       min-width: 2rem;
    }
    nav {
        padding: 0;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar-brand{
        justify-content: center;
        
    }
    
    .navbar-end{
        justify-content: center;
        margin: auto;
    }
}