:root{
    --primary: #6b0f1aff;
    --accent: #07beb8ff;
    --neutral: #524632ff;
    --dark: #151e3fff;
    --light: #ffffffff;

}

/*styling for homepage searchbox*/
.center-box{
    position: absolute;
    top: 30%;
    right: 25%;
    left: 25%;
    width: fit-content;

}
.search-box-header{
    font-size: 200%;
    font-weight: 500;
}
/*end of styling for homepage searchbox*/
/*styling for search results list*/
.rearch-results-section{
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.search-results-list{
    border-bottom: grey solid;
    padding: 3%;
}
/*end of styling for search results list*/
/*Movie list thumbnail styling*/
.movie-results{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}
.img-small-poster{
    margin: 5px;
}
h1{
    margin-left: 5%;
    font-size: 400%;
    font-weight: 500;
    font-family:'Josefin Sans', sans-serif;
}
.profile-info{
    margin-top: 10%;
    margin-bottom: 10%;
}

.review-overflow {
    height: 17rem;
    overflow: scroll;
  }
.review-element{
    border-bottom: grey solid;
    padding-bottom: 1%;
}
.movie-profile-list{
    margin-top: 3%;
}
.profile-lists{
    margin: 4%;
}
h2{
    font-size: 200%;
}
form-group{
    padding: 5%;
}
label{
    display:block;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.svg-name{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
